@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Employees <a href="Employees">CLICK</a>.</p>
    <p>Professions <a href="Professions">CLICK</a>.</p>
    <p>Employees and their professions <a href="Emp_Prof">CLICK</a>.</p>
    <p>Employee's Phone Numbers <a href="PhoneNumbers">CLICK</a>.</p>
</div>
